<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover"/>
  <title>{{ page_title }}</title>
  <meta name="description" content="{{ page_description }}"/>

  <!-- Facebok Open Graph: https://developers.facebook.com/docs/sharing/opengraph -->
  <meta property="og:site_name" content="{{ site_name }}"/>
  <meta property="og:type" content="Simple site featuring tailwind and htmx..."/>
  <meta property="og:title" content="{{ page_title }}"/>
  <meta property="og:description"  content="{{ page_description }}"/>
  <meta property="og:url" content="https://wwww.example.com"/>

  <!-- Favicon! -->
  <link rel="apple-touch-icon" sizes="180x180" href="/static/favicon/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/static/favicon/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/static/favicon/favicon-16x16.png">
  <link rel="manifest" href="/site.webmanifest">

  <!-- CSS -->
  <link rel="stylesheet" href="/static/css/main.css" type="text/css" />
</head>

<body>
    {% block header %}
    {% include "/shared/_header.html" %}
    {% endblock %}

    {% block content %}
    {% endblock %}

    {% block sidebar %}
    {% endblock %}

    {% block footer %}
    {% include "/shared/_footer.html" %}
    {% endblock %}
</body>
</html>